<div class="contents row">
  <div class="container">
    <h2>トウロクフォーム</h2>
    <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"ニックネーム" %> <br />
        <%= f.text_field :nickname, autofocus: true, placeholder:"例)たろう" %>
      </div>

       <div class='field'>
        <%= f.label :"なまえ" %><br />
        <%= f.text_field :first_name, class:"input-name", placeholder:"例) 山田" %>
        <%= f.text_field :last_name, class:"input-name", placeholder:"例) 太郎" %>
       </div>

      <div class="field">
        <%= f.label :"メールアドレス" %><br />
        <%= f.email_field :email, placeholder:"xxx@icloud.com" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード" %> <br />
        <%= f.password_field :password, autocomplete: "off", placeholder:"8文字以上" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード（もういちど）" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off",placeholder:"同じパスワードを入力してください" %>
      </div>

      <div class="actions">
        <%= f.submit "トウロク" %>
      </div>
    <% end %>
  </div>
</div>