<div class="main">
  <div class="child-information">
    <p>そなくんのキロク</p>
  </div>

  <div class="contents row">
    <% @milks.each do |milk| %>
      <div class="content">

        <% if milk.image.attached? %>
          <%= image_tag milk.image, class: "milk-img" %>
        <% else %>
          <%= image_tag "IMG_4162.jpeg", class: "milk-img" %>
        <% end %>

        <div class="condition-amount-time">
          <div class="condition-amount">
            <% if milk.condition_id == 2 %>
              <span class="condition">
                <%= milk.condition.name %>
              </span>
              <span class="amount">
                を<%= milk.amount.name %>のみました！
              </span>
            <% elsif milk.condition_id == 3 %>
              <span class="condition">
                <%= milk.condition.name %>がでました！
              </span>
            <% elsif milk.condition_id == 4 %>
              <span class="condition">
                <%= milk.condition.name %>がでました！
              </span>
            <% elsif milk.condition_id == 5 %>
              <span class="condition">
                ねむりました！
              </span>
            <% elsif milk.condition_id == 6 %>
              <span class="condition">
                おきました！
              </span>
            <% elsif milk.condition_id == 7 %>
              <span class="condition">
                なきました！
              </span>
            <% end %>
        </div>

        <div class="dropdown_time">
         <% if user_signed_in? && current_user.id == milk.user_id %>
          <ul class="dropdown__lists">  
            <div class="dropdown">
              <li>
                <%= link_to 'へんこう', edit_milk_path(milk.id), class: "dropdown__list" %>
              </li>
            </div>
            <div class="dropdown">
              <li>
                <%= link_to '※けす', milk_path(milk.id), data: { turbo_method: :delete }, class: "dropdown__list" %>
              </li>
            </div>
          </ul>
          <% else %>
             <ul class="dropdown__listss"></ul>
          <% end %>

            <span class="time">
              <%= milk.time.strftime( "%H:%M" ) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>